@media (max-width:1495px){
    .wrap.main{padding-top: 103px;}
  
    /* header */
    header{width: 100vw;}
    header #today{font-size: 26px;}
    header .nav{font-size: 0.95rem;}
    .header-contents a img{width: 65px;}
    .header-contents h1.logo{padding-left: 20px;}
    /* --- */
  
   /* section */
   .section{width: 100vw; overflow: hidden;}
   .section .title-desc-Area .title p{font-size: 0.8125rem;}
   .section.s01{min-height: 700px;}
   .section .maintitle h2{font-size: 2.625rem;}
   .section .maintitle p{font-size: 2rem;}
   .section .sub-txt p{font-size: 1.5625rem;}
   .section.s05 .sub-txt p{font-size: 1.3rem;}
   .section.s05 p{white-space: nowrap;}
   /* --- */
  
   /* footer */
   .footer{width: 100vw;}
   .footer .footer-bottom .inner{width: auto;}
   /* --- */
  
    /* etc */
    .wrap .pd{padding: 0 30px 100px 30px; box-sizing: border-box;}
}
  
  
  @media(max-width:1295px){
    .wrap.main{padding-top: 98px;}
    
    /* header */
    .header-contents a img{width: 65px;}
    header #today{font-size: 22px;}
    /* --- */
  
   /* section */
   .section .sub-txt p{font-size: 1.5rem;}
   .section .secTxt{padding-left: 20px;}
   /* --- */
  
}
  
@media (max-width:945px){
/* section */
.section .maintitle h2{font-size: 31px;}
.section .sub-txt p{font-size: 1.3rem;}
.section .tabWrap.type02 .tabNav .tabList li{padding: 0;}
.tab-frame .table-Area .table table th{font-size: 13px;}
.tab-frame .table-Area .table table td{font-size: 11px;}
/* --- */
}
  
  
@media (max-width:768px){
.wrap.main{padding-top: 93px;}

/* header */
header .nav{font-size: 0.8125rem;}
.header-contents a img{width: 60px;}
/* --- */

/* section */
.section .sub-txt p{font-size: 1.0625rem;}
.section .main-img .mask .main-img-title{font-size: 24px;}
.section .sec-inner .secCont .secTxt .sub-txt a.fz{font-size: 15px;}
.section .sec-inner .secCont .secTxt .sub-txt a span.arrow-rt:after{
    content: ''; display: inline-block; width: 24px; height: 24px; vertical-align: middle; 
    background-size: 22px 20px; background-image: url("../images/ico-arrow-right-white.png"); background-repeat: no-repeat;
}
.section.s05 .maintitle p{font-size: 28px;}
.section.s05 .sub-txt p{font-size: 18px;}
.section .accordion.qna .dep1 li .head .head-txt{font-size: 17px;}
/* --- */
}
  
@media (max-width:628px){
.wrap.main{padding-top: 83px;}

/* header */
header .nav{display: none;}
header #today{font-size: 28px; left: 50%; top: 50%; transform: translate(-50%,-50%);}
header .header-contents{justify-content: space-between;}
header .header-contents .mobile-nav{padding-right: 20px;}
.header-contents a img{width: 50px;}
header .mobile-nav{display: block; position: relative;}
.mobile-nav .mobile-nav-inner .btn-hamburger .m-line{
    display: block; width: 20px; height: 2px; margin-bottom: 4px;
    border-right: 1px solid; border-color: var(--mobile-nav); background-color: var(--mobile-nav);
}
.mobile-nav .mobile-nav-inner .btn-hamburger .m-line:last-child{margin-bottom: 0;}
/* --- */

/* 모바일 사이드 메뉴 */
.mobile-nav-right{position: fixed; top: 0; right: 0; z-index: 9998; width: 280px; height: 100%;
background-color: var(--mobile-nav-right-bg);}
.mobile-nav-right .mnr-header{position: relative; height: 60px; border-bottom: 1px solid; border-color: var(--mobile-nav-right-bd);}
.mobile-nav-right .mnr-inner .mnr-header .mnr-nav-close{
    width: 25px; height: 25px; position: absolute; right: 10px; top: 16px;
}
.mobile-nav-right .mnr-inner .mnr-header .mnr-nav-close .nav-close-bd:before{
    content: ''; position: absolute; display: block; width: 20px; border: 1px solid; 
    border-color: var(--mobile-nav-right-bd); background-color: var(--mobile-nav-right-bd); transform: rotate(-45deg);
}
.mobile-nav-right .mnr-inner .mnr-header .mnr-nav-close .nav-close-bd:after{
    content: ''; position: absolute; display: block; width: 20px; border: 1px solid; 
    border-color: var(--mobile-nav-right-bd); background-color: var(--mobile-nav-right-bd); transform: rotate(-136deg);
}
.mobile-nav-right .mnr-inner .mobile-nav-list li{
    line-height: 60px; font-size: 1.125rem; color: var(--mobile-nav-right-txt);
    border-bottom: 1px solid; border-color: var(--mobile-nav-right-bd); cursor: pointer;
}
.mobile-nav-right .mnr-inner .mobile-nav-list li a{display: block; text-indent: 10px;}
/* --- */

.tabWrap.y21 .tabNav{
    display: none;
}

.wrap .monthListContainer{
    display: block;
}

.wrap .tabWrap.y21 .tabCont .tab-frame{
    border: 0;
    padding: 0;
}

.tabWrap.y22 .tabNav{
    display: none;
}

.wrap .tabWrap.y22 .tabCont .tab-frame{
    border: 0;
    padding: 0;
}

/* section */
.section.s-default{min-height: 600px;}
.section.s-default .sec-inner .secCont{flex-direction: column; justify-content: center; align-items: inherit;}
.section .sec-inner .secImg{width: 90%; display: block; margin: 0 auto;}
.section .sec-inner .secTxt{width: 100%; padding-bottom: 25px;}
.section .gifArea img{width: 85%;}
.section .title-desc-Area .title p{display: none;}
.section .main-img .mask .main-img-title{width: 53%;}
.section .box-area .tb-li li a {font-size: 15px;}
.section .tabWrap>.type01 .tabNav .tabList{font-size: 15px;}
.section .tabWrap>.type01 .tabNav .tabList li{padding: 0;}
.section .tabWrap>.type02 .tabNav .tabList{font-size: 13px;}
.section .table table th{font-size: 13px;}
.section .table table td{font-size: 11px;}
.section.s05 p{white-space: normal;}
.section .accordion.qna .dep1 li .head{padding: 0 20px;}
.section .accordion.qna .dep1 li .head .head-txt{width: 80%; font-size: 15px;}
/* --- */

/* footer */
.footer{padding-bottom: 60px;}
.footer .footer-head{padding: 15px;}
/* --- */

/* etc */
#quick-Area{width: 100%; bottom: 0; right: 0;}
#quick-Area .quick-btn{width: 100%; border-radius: 0; padding: 10px;}
#quick-Area .quick-btn .quick-inner ul{width: 100%; display: flex; align-items: center;}
#quick-Area .quick-btn .quick-inner ul li{width: auto; flex: 1; padding-top: 0;}
#quick-Area .quick-btn .quick-inner ul .btn-top{display: none;}
/* --- */
}

@media (prefers-color-scheme: light) {
    body{
        --bg-color: #fff;
        --text-color: #000;
        --header: #fff;
        --quick: #000;
        --nav-active:#5b5bfd;
        --nav-hover:#5b5bfd;
        --title:#3535f5;
        --sub-title:#3535f5;
        --table-th-bg:#fafafa;
        --table-th-c:#266bf7;
        --table-td-emp:#fafafa;
        --header-sub-contents: #fafafa;
        --header-sub-border:#ebebeb;
        --accordion-head-txt:#3535f5;
        --mobile-nav:#000;
        --mobile-nav-right-bg:#292a2d;
        --mobile-nav-right-txt:#fff;
        --mobile-nav-right-bd:#fff;
        --mobile-quick-bg:#292a2d;
        --mobile-quick-txt:#fff;
        --mobile-quick-svg:#fff;
        --today-txt:#000;
        --accordion-bg:#fafafa;
    }
}

@media (prefers-color-scheme: dark) {
    body{
        --bg-color: #333;
        --text-color: #fff;
        --header: #292a2d;
        --quick: #000;
        --nav-active: #0094ff;
        --nav-hover:#0094ff;
        --title: #ffb300;
        --sub-title:#ffb300;
        --table-th-bg:#2c2d30;
        --table-th-c:#ffb300;
        --table-td-emp:#2c2d30;
        --header-sub-contents:#2c2d30;
        --header-sub-border:#3a3b3d;
        --accordion-head-txt:#0094ff;
        --mobile-nav:#fff;
        --mobile-nav-right-bg:#fff;
        --mobile-nav-right-txt:#000;
        --mobile-nav-right-bd:#3a3b3d;
        --mobile-quick-bg:#fff;
        --mobile-quick-txt:#292a2d;
        --mobile-quick-svg:#292a2d;
        --today-txt:#fff;
        --accordion-bg:#444;
    }
}