@charset "UTF-8";
@import '~/../reset.css';

.wrap{
  padding-top: 130px;
  font-family: 'Noto sans';
}

.wrap .mobile-nav-right{display: none;}

.wrap.main{padding-top: 104px;}

#skip-nav{
  position: relative;
  z-index: 9999;
}

#skip-nav a{
  position: absolute; 
  top: -200px; 
  left:0;
  width: 100%;
  line-height: 30px; 
  text-align: center;
  color: #fff;
  background-color: #5b5bfd;
}

#skip-nav a:focus , a:active{
  top: 0;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  box-sizing: border-box;
  width: 100%;
  box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%)
}
header #today{
  font-family: 'SangSangShin';
  position: absolute;
  font-size: 28px;
  color: var(--text-color);
}
header .inner{
  max-width: 1200px;
  width: 100%;
}
header .nav{
  font-size: 15px;
  line-height: 13px;
}
header .mobile-nav{display: none;}
header .header-contents{
  display: flex;
  align-items: center;
  padding:18px 0 10px 0;
}
header .nav ul{
  display: flex;
  flex-wrap: wrap;
}
header .nav ul li {
  margin-left: 30px;
  color: var(--text-color);
}

header .header-sub-contents{
  background-color: #fafafa;
}

header .nav.sub{
  height: 48px;
  line-height: 48px;
  font-size: 13px;
}

header .nav.sub li{
  margin-left: 0;
}

header .nav.sub a{
  display: inline-block;
}

header .nav.sub a.active{color: #5b5bfd;}
header .nav.sub a:hover{color: #5b5bfd;}

header .nav.sub li:after{
  content: '';
  display: inline-block;
  height: 14px;
  border-right: 1px solid #ebebeb;
  margin: 0 10px;
  vertical-align: middle;
}

header .nav.sub li:last-child:after{
  content: none;
}

/* section css */
.section{position: relative; display: flex; flex-direction: column; align-items: center; width: 100%;}
.section .sec-inner{display: flex; max-width: 1200px; width: 100%; height: 100%; flex: 1; padding: 0 10%;}
.section .btnArea{display: inline-block;}
.section .bgPoint{display: inline-block; padding: 12px 10px 0 10px; background-color: #fff;}
.section .bgPoint.side{padding: 0 7px;}
.section .bgPoint.mr{margin-right: 10px;}
.section .secCont{width: 100%; display:flex; align-items: center;}
.section .secTxt{width: 50%;}
.section .secImg{width: 50%;}
.section .sec-inner .secCont .secTxt .sub-txt a span.arrow-rt:after{
  content: ''; display: inline-block; width: 24px; height: 24px; vertical-align: bottom; background: url("../images/ico-arrow-right-white.png") no-repeat; 
}

.section.s-default{min-height: 700px; box-shadow: inset 0px 0px 10px rgb(0 0 0 / 20%);}
.section.s01{
  background: -moz-linear-gradient(195deg, #06a6fa 25%, #42edd0 100%);
  background: -webkit-linear-gradient(195deg, #06a6fa 25%, #42edd0 100%);
  background: linear-gradient(195deg, #06a6fa 30%, #42edd0 100%);
}
.section.s02{
  background: -moz-linear-gradient(-15deg, #f7e600 30%, #ffb229 100%);
  background: -webkit-linear-gradient(-15deg, #f7e600 30%, #ffb229 100%);
  background: linear-gradient(-15deg, #f7e600 30%, #ffb229 100%);
}
.section.s03{
  background: -moz-linear-gradient(195deg, #7c74fd 30%, #aaa3ff 100%);
  background: -webkit-linear-gradient(195deg,#7c74fd 30%, #aaa3ff 100%);
  background: linear-gradient(195deg, #7c74fd 30%, #aaa3ff 100%);
}
.section.s04{
  background: -moz-linear-gradient(195deg,  #55E1B0 30%, #399b78 110%);
  background: -webkit-linear-gradient(195deg, #55E1B0 30%, #399b78 110%);
  background: linear-gradient(195deg, #55E1B0 30%, #399b78 110%);
}
.section.s05{
  min-height: 400px !important;
  background-color: #333333;
}
.section.s05 .loc{position: absolute; top: 50%; left: 50%; transform: translate(-50%,-50%);}

.section .gifArea{width: 100%; display: inline-block;}
.section .gifArea img{width: 86%; border-radius: 20px; box-shadow: 20px 17px 5px rgb(0 0 0 / 8%);}
.section .maintitle h2{font-family: '레시피코리아'; font-size: 50px; color: #ffffff;}
.section .maintitle p{font-size: 40px; color: #fff;}
.section .sub-txt p{font-size: 30px; color: #ffffff;}
.section .sub-txt p.black{color: #000;}
.section .sub-txt.more{font-size: 18px; color: #ffffff;}
.section .maintitle + .sub-txt{margin-top: 10px;}
.section .sub-txt + .more{margin-top: 7px;}
.section .sub-txt + .more:hover{text-decoration: underline;}
.section .sub-txt + .btnArea{margin-top: 60px;}
.section .sub-txt strong.blue{color: #2b73ff;}
.section .maintitle h2.orange{color: #FF8868;}
.section .maintitle h2.violet{color: #7f00ff;}
.section .maintitle h2.blue{color: #058dec;}
.section .maintitle h2.green{color: #009933;}
.section .title {padding-top: 100px;}
.section .title.pthalf{padding-top: 50px;}
.section .title span {
  color: #3535f5;
  font-size: 23px;
  letter-spacing: -1.5px; 
}
.section .title.desc span{font-size: 20px;}
.section .title::after {
  content: '';
  display: block;
  border-bottom: 1px solid #cbcbcb;
  margin-top: 15px;
  opacity: 0.5; 
}
.section .title-desc-Area .title p{
    display: inline-block;
    font-size: 15px;
    vertical-align: text-top;
}
.section .title-desc-Area .title p::before{
  content: '';
  display: inline-block;
  width: 1px;
  height: 11px;
  border-left: 1px solid #dddddd;
  margin: 0 10px;
  vertical-align: baseline;
}
.group{
  display: flex;
  justify-content: space-evenly;
}
.section .sub-title{
  margin: 20px 0 20px 0;
  font-size: 20px;
  font-weight: 600;
  color: #3535f5;
}
/*distance : sub6 ~ sub8 cont-box 간격조절에 사용. */
.section .distance{padding-top: 60px;}
.section .distance .sub-title{margin-top: 0;}
.section .distance.pt0{padding-top: 0;}

/*sub7 pre태그에 간격 조절로 사용.(기본값이 margin0이라서) */
.section .cont-box pre.pre-m-distance{margin: 16px 0;}

.section .sub-title strong{
  display: block;
  margin: 50px 0 0;
}
.section .sub-title div span{font-size: 15px;}
.section .con-txt{display: block;}
.section .con-txt span{display: block; margin-bottom: 13px;}
.section .contArea .row{margin: 20px 0 100px;}
.section .contArea .row:last-child{margin-bottom: 0;}
.section .contArea .row span strong{color: #ff0000;}
.section .conditions {font-size: 15px; }
.section .conditions span {display: block;}
.section .inner{max-width: 1280px; width: 100%;}
.section .inner .cont-box .innerBox{padding: 30px 0 100px 0;}
.section .inner .cont-box .innerBox .advancement{padding: 27px 0 40px 0;}
.section .inner .cont-box .innerBox:last-child{padding: 0;}
.section .conditions span:before {
  display: inline-block;
  content: '';
  vertical-align: middle;
  margin-right: 5px;
  border: 2px solid #cbcbcb;
  border-radius: 30px; 
}
.section .main-img {
  width: 100%;
  max-width: 1400px;
  background: url("../images/CR2.jpg") no-repeat;
  background-size: 1278px 650px;
  border: 1px solid #000; 
}
.section .main-img .mask {
  position: relative;
  width: 100%;
  height: 650px;
  background-color: rgba(0, 0, 0, 0.5); 
}
.section .main-img .mask .main-img-inner {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
}
.section .main-img .mask .main-img-title {
  color: #ffffff;
  margin: 0 auto;
  font-size: 30px;
  font-weight: bold;
  border: 2px solid rgba(255, 255, 255, 0.2);
  padding: 15px 30px;
  text-align: center; 
}
.section .img-area{
  text-align: center;
  cursor: default;
}
.section .img-area img{
  width: 100%;
}
.section .img-area.mt{
  margin-top: 45px;
}

.section .cont-box{padding: 0 0 70px 0;}
.section .cont-box:last-child{padding: 0;}
.section .cont-box:after{
  content: '';
  display: block;
  border-bottom: 1px solid #dddddd;
  height: 2px;
  padding-top: 70px;
}
.section .cont-box:last-child:after{
  content: none;
  border: none;
}

/* --- */

/* footer css */
.footer {
  width: 100%;
}
.footer .footer-head {
  width: 100%;
  height: 80px;
  background-color: #111;
  text-align: center;
  padding: 25px 0px 15px 0px;
  box-sizing: border-box;
}
.footer .footer-head .footer-head-txt p{
  color: #ffffff;
  font-size: 15px;
  opacity: 0.5;
}
.footer .footer-head .footer-head-txt p::before{
  content: '';
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 12px;
  vertical-align: sub;
  background: url("../images/Exclamation-mark.png") no-repeat;
}
.footer-bottom{
  background-color: #000;
  padding: 95px 10px 10px 10px; 
}
.footer .Design-txt {text-align: center; }
.footer .Design-txt span {
  display: block;
  color: #ffffff;
  opacity: 0.5; 
}
.footer .logo-area ul {display: flex; justify-content: center;}
.footer .logo-area ul li{margin-right: 5px;}
.footer .logo-area ul li:last-child{margin-right: 0;}
.footer .logo-area .ico{
  display: inline-block;
  width: 40px;
  height: 40px;
  border: 1px solid #ffffff;
  border-radius: 30px;
}
.footer .logo-area .cafe-logo {
  background: url("../images/cafe-logo.png") no-repeat #ffffff center center;
}
.footer .logo-area .kakao-logo {
  background: url("../images/kakao-logo.png") no-repeat #ffffff center center;
}
.footer .logo-area .kakao-plus-logo {
  background: url("../images/kakao-plus-logo.png") no-repeat #ffffff center center;
}
.footer .footer-txt {text-align: center;}
.footer .footer-txt p {
  color: #ffffff;
  font-size: 14px;
  opacity: 0.5; 
}

/* --- */

/* 퀵메뉴 css */
#quick-Area {
  position: fixed;
  right: 30px;
  bottom: 30px;
}
#quick-Area  .quick-btn {
  padding: 15px;
  box-sizing: border-box;
  text-align: center;
  width: 90px;
  background-color: var(--quick-bg);
  box-shadow: 0px 8px 20px 0 rgba(0, 0, 0, 15%);
  z-index: 9999;
  border-radius: 50px;
}
#quick-Area .quick-inner{
  position: relative;
}
#quick-Area .quick-btn li{
  width: 64px;
  height: 60px;
  cursor: pointer;
  text-align: center;
  padding-top: 5px;
}
#quick-Area .quick-btn li span{
  display: block;
  padding-top: 35px;
  font-size: 13px;
  color: var(--text-color);
}
#quick-Area .quick-btn li.btn-top{
  background: url("../images/chevron-top.png") no-repeat center 35%;
}
#quick-Area .quick-btn li.discord{
  background: url("../images/ico-discord.png") no-repeat center 30%;
}
#quick-Area .quick-btn li.github{
  background: url("../images/ico-github.png") no-repeat center 30%;
}
#quick-Area .quick-btn li.velog{
  background: url("../images/ico-velog.jpg") no-repeat center 30%;
}
#quick-Area .quick-btn li.darkMode .btnDarkMode{
  background: url("../images/ico-moon.svg") no-repeat center 30%;
}
#quick-Area .quick-btn li.darkMode .btnDarkMode.active{
  background: url("../images/ico-sun.svg") no-repeat center 30%;
}
/* --- */

/* 다크모드  */

body{
  --bg-color: #fff;
  --text-color: #000;
  --header: #fff;
  --nav-active:#5b5bfd;
  --nav-hover:#5b5bfd;
  --title:#3535f5;
  --sub-title:#3535f5;
  --table-th-bg:#fafafa;
  --table-th-c:#266bf7;
  --table-td-emp:#fafafa;
  --header-sub-contents: #fafafa;
  --header-sub-border:#ebebeb;
  --accordion-head-txt:#3535f5;
  --mobile-nav:#000;
  --mobile-nav-right-bg:#292a2d;
  --mobile-nav-right-txt:#fff;
  --mobile-nav-right-bd:#fff;
  --quick-bg: #fff;
  --today-txt:#000;
  --accordion-bg:#fafafa;
}


body[data-theme="light"] {
  --bg-color: #fff;
  --text-color: #000;
  --header: #fff;
  --nav-active:#5b5bfd;
  --nav-hover:#5b5bfd;
  --title:#3535f5;
  --sub-title:#3535f5;
  --table-th-bg:#fafafa;
  --table-th-c:#266bf7;
  --table-td-emp:#fafafa;
  --header-sub-contents: #fafafa;
  --header-sub-border:#ebebeb;
  --accordion-head-txt:#3535f5;
  --mobile-nav:#000;
  --mobile-nav-right-bg:#292a2d;
  --mobile-nav-right-txt:#fff;
  --mobile-nav-right-bd:#fff;
  --quick-bg: #fff;
  --today-txt:#000;
  --accordion-bg:#fafafa;
}

body[data-theme="dark"] {
  --bg-color: #333;
  --text-color: #fff;
  --header: #292a2d;
  --nav-active: #0094ff;
  --nav-hover:#0094ff;
  --title: #ffb300;
  --sub-title:#ffb300;
  --table-th-bg:#2c2d30;
  --table-th-c:#ffb300;
  --table-td-emp:#2c2d30;
  --header-sub-contents:#2c2d30;
  --header-sub-border:#3a3b3d;
  --accordion-head-txt:#0094ff;
  --mobile-nav:#fff;
  --mobile-nav-right-bg:#fff;
  --mobile-nav-right-txt:#000;
  --mobile-nav-right-bd:#3a3b3d;
  --quick-bg: #292a2d;
  --today-txt:#fff;
  --accordion-bg:#444;
}

body[data-theme="dark"] #quick-Area .quick-btn li.btn-top{
  background: url("../images/ico-top-white.svg") no-repeat center 35%;
}

html{color: var(--text-color);}
body{background: var(--bg-color);}
header{background-color: var(--header);}
.nav ul li.active{color: var(--nav-active);}
header .nav ul li:hover{color: var(--nav-hover);}
#quick-Area .quick-btn{color: var(--quick);}
.section .title span{color: var(--title);}
.section .sub-title{color: var(--sub-title);}
.section .table table th{color: var(--table-th-c); background-color: var(--table-th-bg);}
.section .table table td.dodger-blue{color: var(--title);}
.section .table table td.alabaster{background-color: var(--table-td-emp);}
header .header-sub-contents{background-color: var(--header-sub-contents);}
header .header-sub-contents .nav.sub a.active{color: var(--nav-active);}
header .header-sub-contents .nav.sub a:hover{color: var(--nav-hover);}
header .nav.sub li:after{border-right-color: var(--header-sub-border);}
.accordion .dep1 li .head .head-txt{color: var(--accordion-head-txt);}

/* --- */


/* 스크롤 테마 */
::-webkit-scrollbar{
  width: 10px;
  height: 10px;
  background-color: #f5f5f5;
}
::-webkit-scrollbar-button{
  display: none;
}
::-webkit-scrollbar-track{
  box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 50px;
	background-color: #F5F5F5;
}
::-webkit-scrollbar-thumb{
  background-color: #0ae;
  border-radius: 50px;
	background-image: -webkit-gradient(linear, 0 0, 0 100%,color-stop(.5, rgba(255, 255, 255, .2)),
  color-stop(.5, transparent), to(transparent));
}
::-webkit-scrollbar-thumb:active{
  background: #808080;
}
/* --- */

/* 컴포넌트 */
.wrap pre{
  font-family: 'Noto sans';
  margin: 0;
  line-height: 30px;
}
#mobile-quick{display: none;}

.wrap #dimmed{display: none; position: fixed; z-index: 100; left: 0; top: 0; width: 100%; height: 100%; background: rgba(0, 0, 0,0.6);}

.wrap .btn{display: flex; align-items: center; height: 50px; padding: 0 15px; box-sizing: border-box; border-radius: 50px; box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
           color: #ffffff; font-size: 16px; background-color: #000; transition: .5s;}
.wrap .btn.blueBerry{background-color: #353990;}
.wrap .btn.orange{background-color: #ff9375;}
.wrap .btn.orange:hover{background-color: #fb6d46;}
.wrap .btn:hover{background-color: #090c50;}
.wrap .btn.purple{background-color: #c081ff;}
.wrap .btn.purple:hover{background-color: #9731fd;}
.wrap .btn.green{background-color: #1ec257;}
.wrap .btn.green:hover{background-color: #009933;}

.wrap i.ico{display: inline-block; background-repeat: no-repeat; background-position: center center;}
.wrap i.ico.ico-arrow-rt{width: 24px; height: 24px; background: url("../images/ico-arrow-right-white.png");}
.wrap i.ico.ico-hamburger{width: 220px; height: 220px; background-size: 20px 20px; background-image: url("../images/ico-hambuger.png"); }
.wrap i.ico.ico-discord{width: 24px; height: 24px; background-image: url("../images/ico-discord.png");}
.wrap i.ico.ico-velog{width: 24px; height: 24px; border-radius: 4px; background-image: url("../images/ico-velog.jpg");}
.wrap i.ico.ico-github{width: 24px; height: 24px; background-image: url("../images/ico-github.png");}
.wrap i.ico.rt{margin-left: 5px; margin-right: 0;}
.wrap i.ico.lt{margin-right: 5px; margin-left: 0;}

.wrap .pd{
  padding: 0 60px 100px 60px;
}

.wrap .minh{
  padding-bottom: 326px;
}

.wrap .theme-box {
  margin-top: 40px;
  line-height: 67px;
  width: 100%;
  height: 70px;
  text-align: center;
  background-color: #266bf7;
  cursor: pointer;
  font-size: 20px;
}

.wrap .tabWrap{margin: 20px 0 20px;}
.wrap .tabWrap .tabCont{display: none;}
.wrap .tabWrap .tabCont.active{display: block;}
.wrap .tabWrap.type01 .tabNav .tabList{
  display: flex; border: 1px solid #dbdbdb; border-radius: 4px; font-size: 20px;
  color: #000; background-color: #ffffff;
}
.wrap .tabWrap.type01 .tabNav .tabList li{
  position: relative; flex: 1; height: 60px; line-height: 60px; padding: 0 15px; box-sizing: border-box;
  cursor: pointer; text-align: center;
}
.wrap .tabWrap.type01 .tabNav .tabList li.active{
  position: relative; border-radius: 4px 0 0 4px; box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.15); letter-spacing: -1.17px;
  font-weight: bold; color: #ffffff; background-color: #266bf7;
}
.wrap .tabWrap.type01 .tabNav .tabList li.active:last-child{border-radius: 0 4px 4px 0;}


/* 탭 type02 */
.wrap .tabWrap.type02 .tabNav .tabList{
  display: flex; border-radius: 10px 10px 0 0; border-bottom: 0; font-size: 16px; color: #555555; background-color: #eeeeee;
}
.wrap .tabWrap.type02 .tabNav .tabList li{
  position: relative; flex: 1; height: 65px; line-height: 65px; padding: 0 15px; box-sizing: border-box;
  cursor: pointer; text-align: center;
}
.wrap .tabWrap.type02 .tabNav .tabList li.active{
  position: relative; border-radius: 0; box-shadow: 0px 1px 6px 1px rgba(0,0,0,0.15); letter-spacing: -1.17px;
  font-weight: bold; background-color: #b5b5b5;
}
.wrap .tabWrap.type02 .tabCont .tab-frame{
  padding: 20px; box-sizing: border-box; border: 1px solid #dbdbdb; border-radius: 0 0 10px 10px;
}
.wrap .tabWrap.type02 .tabNav .tabList li.active:first-child{
  border-radius: 10px 0 0 0;
}
.wrap .tabWrap.type02 .tabNav .tabList li.active:last-child{
  border-radius: 0 10px 0 0;
}

.wrap .theme-box a {
  display: block;
  width: 100%;
  height: 100%;
  color: #fff;
}

.wrap .accordion .dep1 li{width: 100%; background-color: var(--accordion-bg);}
.wrap .accordion .dep1 .head{
  display: flex; align-items: center; padding: 0 40px; height: 80px;
  border-bottom: 1px solid #dbdbdb; margin-bottom: 30px; box-sizing: border-box;
  background: url("../images/ico-accordion.png") no-repeat right 40px center; cursor: pointer;
}
.wrap .accordion .dep1 .head-txt{font-size: 20px;font-weight: 600; color: #3535f5;}
.wrap .accordion .dep1 li.active{margin-bottom: 40px;}
.wrap .accordion .dep1 li.active>.head{background: url("../images/ico-accordion-active.png") no-repeat right 40px center;}
.wrap .accordion .dep2{display: none;}
.wrap .accordion .dep2 .showCont{
  position: inherit; top: 0; transform: none; padding: 0 0 40px 40px; 
  border-bottom: 1px solid #dbdbdb;
}
.wrap .accordion .dep2 .showCont + .showCont{margin-top: 40px;}

.section .box-area{
  margin-top: 30px;
}

.section .box-area .tb-li ul{
  display: flex;
  flex-direction: row;
}

.section .box-area .tb-li ul li {
  position: relative;
  border: 1px solid #266bf7;
  flex: 1;
  text-align: center;
  background-color: #266bf7;
  box-sizing: border-box;
  cursor: pointer; 
}
  
.section .box-area .tb-li ul li::before {
  content: '';
  position: absolute;
  width: 1px;
  height: 30px;
  right: 0;
  top: 27%;
  border-right: 1px solid #cbcbcb;
  opacity: 0.5; 
}

.section .box-area .tb-li ul li:last-child:before {
  content: none;
  border: none;
}

.section .box-area .tb-li a {
  font-size: 18px;
  display: block;
  padding: 20px;
  box-sizing: border-box;
  letter-spacing: -1.1px;
  color: #ffffff; 
}

/* --- */

/* table css */
/* table-area : 전체 테이블에 여백이 있을때만. */

.table table{width: 100%;}

.section .table-area{
  margin-bottom: 170px;
}

.section .table th {
  color: #266bf7;
  font-size: 15px;
  height: 50px;
  border: 1px solid rgba(203, 203, 203, 0.3);
  -moz-border-color: rgba(203, 203, 203, 0.3);
  -ms-border-color: rgba(203, 203, 203, 0.3);
  border-color: rgba(203, 203, 203, 0.3);
  background-color: #fafafa; 
}
.section .table td {
  font-size: 13px;
  height: 50px;
  text-align: center;
  border: 1px solid rgba(203, 203, 203, 0.3);
  -moz-border-color: rgba(203, 203, 203, 0.3);
  -ms-border-color: rgba(203, 203, 203, 0.3);
  border-color: rgba(203, 203, 203, 0.3); 
}

.section .table td.dodger-blue{
  color: #266bf7;
}

.section .table td.alabaster{
  background-color: #fafafa;
}

.section .table .table tr, .section .table th:first-child, .section .table td{
  border-left: none; 
}
.section .table .table tr, .section .table th, .section .table td:last-child {
  border-right: none; 
}

.theme-btn-Area{
  position: absolute;
  top: 17px;
  left: 7px;
}

/* --- */