@charset "UTF-8";
@import '~/../reset.css';
@import '~/../theme.css';

body {
    background-color: var(--bg-color);
}

.wrap {
    padding-top: 130px;
    font-family: 'Noto sans';
}

.wrap.header-up-down header {
    background-color: transparent;
}
.wrap.header-up-down header .header-wrap {
    background-color: var(--bg-color4);
}
.wra.header-up-down header .header-wrap > .inner {
    background-color: var(--bg-color4);
}

.wrap .mobile-nav-right {
    display: none;
    opacity: 0;
    visibility: hidden;
    right: -280px;
    transition: 0.3s;
}

.wrap.main {
    padding-top: 91px;
}

header {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 100;
    box-sizing: border-box;
    width: 100%;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    transition: 0.3s ease-in-out;
    background-color: var(--bg-color4);
}

header.fixed {
    position: fixed;
}

header.headUp {
    top: -100px;
}

header.head-sub-up .header-sub-contents {
    transform: translate3d(0, -100%, 0);
}

header.headDown {
    top: 0;
}

/* header #today{
  font-family: 'SangSangShin';
  position: absolute;
  left: 10px;
  top: 5px;
  font-size: 28px;
  color: var(--text-color);
} */

header.headUp {
    top: -100px;
}

header.head-sub-up .header-sub-contents {
    transform: translate3d(0, -100%, 0);
}

header.headDown {
    top: 0;
}

header .header-contents .logo a img {
    width: 55px;
    height: 55px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
}

header .inner {
    z-index: 1;
    max-width: 1300px;
    width: 100%;
}

.nav {
    font-size: 15px;
    line-height: 13px;
}

header .mobile-nav {
    display: none;
}

header .header-contents {
    display: flex;
    align-items: center;
    padding: 15px 0;
}

header .header-contents .logo a img {
    width: 55px;
    height: 55px;
}

.nav ul {
    display: flex;
    flex-wrap: wrap;
}

.nav ul li {
    margin-left: 30px;
}

.nav ul li.active a {
    color: var(--primary);
    border-bottom: 1px solid var(--primary);
}

.nav ul li a {
    font-size: 16px;
    color: var(--text-color);
    transition: 0.3s ease-in-out;
}

.header-wrap {
    position: relative;
    z-index: 200;
}

header .header-sub-contents {
    position: absolute;
    width: 100%;
    top: 88px;
    left: 0;
    z-index: 1;
    transition: 0.3s ease-in-out;
    background-color: var(--bg-color3);
}

header .nav.sub {
    height: 48px;
    line-height: 48px;
    font-size: 13px;
}

header .nav.sub li {
    margin-left: 0;
}

header .nav.sub a {
    display: inline-block;
    font-size: 14px;
}

.nav.sub li + li {
    margin-left: 20px;
}

.nav.sub li.active a {
    border-bottom: 0;
}

/* section css */
.section .title.desc span {
    font-size: 20px;
}

.section .title.desc p {
    font-size: 20px;
    color: var(--primary-title);
}

.section .title::after {
    content: '';
    display: block;
    border-bottom: 1px solid #cbcbcb;
    margin-top: 15px;
    opacity: 0.5;
}

.section .sub-title div span {
    font-size: 15px;
}
.section .con-txt {
    display: block;
}

.section .con-txt span {
    display: block;
    margin-bottom: 13px;
    color: var(--text-color);
}

.section .conditions {
    font-size: 15px;
}

.section .conditions span {
    display: block;
    color: var(--text-color);
}

.section .inner {
    max-width: 1280px; /*width: 100%;*/
}
/* --- */

/* footer css */
.footer {
    width: 100%;
    height: 92px;
    padding: 0 20px;
    box-sizing: border-box;
    background-color: var(--bg-color2);
}

.footer > .inner {
    width: auto;
    max-width: 1300px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer > .inner > a {
    font-size: 20px;
    color: var(--text-color);
}

.linkList {
    display: flex;
    align-items: center;
}

.linkList li + li {
    margin-left: 36px;
}

.linkList li a {
    font-size: 20px;
    color: var(--text-color);
}

/* --- */

/* 스크롤 테마 */
::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
::-webkit-scrollbar-button {
    display: none;
}
::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #9fa0a8;
}
::-webkit-scrollbar-track {
    display: none;
}

.customScroll {
    overflow-y: auto;
}
.customScroll::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.customScroll::-webkit-scrollbar-button {
    display: none;
}
.customScroll::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background: #9fa0a8;
}
.customScroll::-webkit-scrollbar-track {
    display: none;
}
/* --- */

/* 컴포넌트 */
.wrap pre {
    font-family: 'Noto sans';
    margin: 0;
    line-height: 30px;
    color: var(--text-color);
}

.wrap #dimmed {
    display: none;
    position: fixed;
    z-index: 100;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
}

.pd {
    padding: 0 60px 192px 60px;
}

.accordion .dep1 {
    border: 1px solid var(--bg-color10);
    border-radius: 2px;
}

.accordion .dep1 li {
    width: 100%;
    background-color: var(--bg-color);
}

.accordion .dep1 .head {
    display: flex;
    align-items: center;
    padding: 0 24px;
    height: 50px;
    border-bottom: 1px solid var(--bg-color10);
    box-sizing: border-box;
    cursor: pointer;
}

.accordion .dep1 .head-txt {
    margin-right: auto;
}

.accordion .dep1 .head-txt span {
    font-size: 16px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.accordion .dep1 li.active .accordion-arrow {
    transform: rotate(180deg);
}

.accordion .dep2 {
    display: none;
}

.accordion .dep2 .showCont {
    position: inherit;
    top: 0;
    transform: none;
    padding: 13px 24px 13px 24px;
    border-bottom: 1px solid var(--bg-color10);
}

.accordion .dep2 pre {
    font-size: 16px;
}

.accordion .dep2 .showCont + .showCont {
    margin-top: 40px;
}

.accordion-arrow {
    transition: 0.3s ease-in-out;
    fill: var(--bg-accordion);
}

.section .inner .contArea .subArea + .subArea {
    margin-top: 100px;
}

/* --- */

/* table css */
/* table-area : 전체 테이블에 여백이 있을때만. */

.table {
    margin-top: 30px;
    border: 1px solid var(--bg-color9);
    border-radius: 4px;
    overflow: hidden;
}

.table table {
    width: 100%;
}

.table table th {
    height: 50px;
    border-bottom: 1px solid var(--bg-color9);
    color: var(--text-color);
    font-size: 14px;
    background-color: var(--bg-color);
}

.table table td {
    padding: 15px;
    box-sizing: border-box;
    font-size: 14px;
    border-bottom: 1px solid var(--bg-color9);
    color: var(--text-color);
    text-align: center;
}

.theme-btn-Area {
    position: absolute;
    top: 17px;
    left: 7px;
}

.title-area {
    display: flex;
    flex-direction: column;
    margin: 60px 0 80px 90px;
}

.title-area .desc {
    font-size: 24px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.title-area h1 {
    font-size: 64px;
    font-family: 'Noto Sans SemiBold';
    color: var(--text-color);
}

.txt.blue {
    color: var(--primary);
}

.cont-title {
    font-size: 38px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.cont-title + .cont-desc {
    margin: 30px 0 40px;
}

.cont-desc {
    font-size: 16px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.sub-title {
    font-size: 30px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.sub-title.type02 {
    font-size: 25px;
}

.cont-box + .img-box {
    margin-top: 40px;
}

.img-box {
    display: flex;
    gap: 40px;
}

.img-box.center {
    align-items: center;
}

.img-box.between {
    justify-content: space-between;
}

.img-box .img-item {
    border-radius: 6px;
    background-color: var(--bg-skeleton);
}

.img-box .img-item.col65 {
    width: 360px;
    height: 450px;
}

.img-box .img-item.row5 {
    width: 500px;
    height: 600px;
}

.img-box .img-item.row45 {
    width: 445px;
    height: 550px;
}

.img-item.img01 {
    background-size: cover;
    background-image: url('../images/screenShot/img-screenshot01.jpg');
    background-repeat: no-repeat;
}

.img-item.img02 {
    background-size: 500px;
    background-image: url('../images/screenShot/img-screenshot02.jpg');
    background-repeat: no-repeat;
}

.img-item.img03 {
    background-size: 445px;
    background-image: url('../images/screenShot/img-screenshot04.jpg');
    background-repeat: no-repeat;
    background-position: 50% 76%;
}

.cont-group {
    width: 100%;
}

.txt-box p {
    color: var(--text-color);
}

.btnArea {
    position: relative;
}

.wrap .btn {
    display: flex;
    align-items: center;
    height: 50px;
    padding: 0 15px;
    box-sizing: border-box;
    border-radius: 50px;
    box-shadow: 0px 5px 10px 2px rgb(0 0 0 / 10%);
    color: #ffffff;
    font-size: 16px;
    background-color: #000;
    transition: 0.5s;
}

.btnArea .btnDarkMode {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgb(221 221 221 / 50%);
    background-color: var(--bg-btn);
}

.contents-wrap .contents-inner {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 150px;
    max-width: 900px;
    margin: 0 auto;
}

.contents-wrap .contents-inner.rowType {
    max-width: 1100px;
    flex-direction: row;
    align-items: flex-start;
    gap: 0;
}

.contents-wrap .contents-inner .cont-box.right {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.contents-wrap .contents-inner .cont-box.right .cont-desc {
    text-align: right;
}

.contents-wrap.type02 .cont-box {
    padding-bottom: 70px;
}

.contents-wrap.type02 .cont-box .listWrap + .listWrap {
    margin-top: 100px;
}

.contents-wrap.type02 .cont-box + .cont-box {
    padding-top: 70px;
    border-top: 1px solid var(--bg-color6);
}

.contents-wrap.type02 .cont-box .h4-tit {
    font-size: 18px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.contents-wrap.type02 .cont-box .h4-tit + .list {
    margin-top: 15px;
}

.contents-wrap.type02 .cont-box .sub-title + .listWrap {
    margin-top: 25px;
}

.contents-wrap.type02 .cont-box .desc {
    margin: 10px 0 25px;
    color: var(--text-color);
    font-size: 16px;
    font-family: 'Noto Sans';
}

.cont-group {
    width: 100%;
}

.txt-box p {
    color: var(--text-color);
}

.btnArea {
    position: relative;
}

.btnArea .btnDarkMode {
    position: fixed;
    right: 20px;
    bottom: 20px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    box-shadow: 0px 0px 5px 2px rgb(221 221 221 / 50%);
    background-color: var(--bg-btn);
}

.btnArea .btnDarkMode .moon {
    fill: var(--bg-svg);
}

.sub-title + .list {
    margin-top: 30px;
}

.list.type02 li + li {
    margin-top: 10px;
}

.list li {
    position: relative;
}

.list li:before {
    content: '';
    position: absolute;
    top: 10px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
    background-color: var(--bg-color5);
}

.list li + li {
    margin-top: 20px;
}

.list li p {
    padding-left: 20px;
    color: var(--text-color);
    font-size: 16px;
}

.list .indent {
    padding-left: 10px;
}

.list .indent + .indent {
    margin-top: 10px;
}

.list li + .indent {
    margin-top: 10px;
}

.list.rowType {
    display: flex;
    justify-content: space-between;
}

.list.rowType li + li {
    margin-top: 0;
}

.list.rowType li + li {
    margin-top: 0;
}

.list.rowType li:before {
    display: none;
}

.list.rowType li .tit {
    margin-bottom: 20px;
    font-size: 22px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.list.rowType li p {
    padding-left: 0;
    font-size: 15px;
}

.btn-mobile-search {
    position: absolute;
    top: 0;
    left: 1px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    /* border: 1px solid var(--bg-color6); */
    background: var(--icon-search) no-repeat center;
}

.mobile-search-input {
    /* visibility: hidden; */
    width: 26px;
    height: 26px;
    border: 1px solid var(--bg-color6);
    border-radius: 24px;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 14px;
    outline: 0;
    background-color: transparent;
}

.mobile-search-area.active .mobile-search-input {
    /* visibility: visible; */
    width: 200px;
    padding-left: 30px;
}

.mobile-search-area.active .btn-mobile-search {
    left: 4px;
    /* border: 0; */
}

.table-title {
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Noto Sans';
}

.table-wrap {
    margin-top: 60px;
}

.table-wrap + .table-wrap {
    margin-top: 100px;
}
/* --- */

.btnGroup {
    display: flex;
    justify-content: space-between;
}

.sub-title + .btnGroup {
    margin-top: 50px;
}

.btn.type02 {
    width: 285px;
    height: 60px;
    justify-content: center;
    padding: 0;
    color: #fff;
    font-size: 18px;
    font-family: 'Noto Sans';
    border-radius: 4px;
    box-shadow: 0px 3px 4px rgba(0, 0, 0, 0.25);
    background-color: var(--primary);
    transition: 0.3s ease-in-out;
}

.btn.type02 svg {
    margin-right: 8px;
}

.btn.type02.full {
    width: 100%;
}

.tab-wrap {
    width: 100%;
}

.tab-wrap .tab-nav .tab-list {
    position: relative;
    display: flex;
    align-items: center;
    padding-bottom: 10px;
    border-bottom: 1px solid var(--bg-color8);
}

.tab-wrap .tab-list li:nth-child(2).active ~ .line {
    width: 197px;
    left: 155px;
}

.tab-wrap .tab-list li:nth-child(3).active ~ .line {
    width: 167px;
    left: 387px;
}

.tab-wrap .tab-list li:nth-child(4).active ~ .line {
    width: 117px;
    left: 592.5px;
}

.tab-wrap .tab-nav .tab-list li.line {
    position: absolute;
    left: 0;
    top: 43px;
    width: 117px;
    height: 4px;
    background-color: var(--primary);
    transition: 0.4s ease-in-out;
    margin-left: 0;
}

.tab-wrap .tab-list li + li {
    margin-left: 40px;
}

.tab-wrap .tab-list li.active a {
    color: var(--primary);
}

.tab-wrap .tab-list li a {
    font-size: 24px;
    font-family: 'Noto Sans';
    color: var(--bg-color7);
}

.tab-cont {
    display: none;
}

.tab-cont.active {
    display: block;
}

.opt-wrap {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.opt-year span {
    font-size: 20px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.opt-select {
    position: relative;
    display: flex;
    align-items: center;
    width: 90px;
    height: 35px;
    border-radius: 4px;
    border: 1px solid var(--bg-color10);
    background-color: var(--bg-color);
}

.opt-select.active .common-select {
    display: block;
}

.opt-select.active .svg-arrow-down {
    top: 16px;
    transform: rotate(-180deg);
}

.opt-select .svg-arrow-down {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 10px;
}

.opt-select .date-txt {
    cursor: default;
    font-size: 16px;
    font-family: 'Noto Sans';
    color: var(--text-color);
    text-indent: 10px;
}

.opt-select .date-txt::selection {
    background: transparent;
}

.opt-select #month-select {
    max-height: 90px;
}

.common-select {
    display: none;
    position: absolute;
    top: 42px;
    left: -1px;
    width: 90px;
    border-radius: 4px;
    border: 1px solid var(--bg-color10);
    background-color: var(--bg-color);
}

.common-select li {
    padding-left: 10px;
    height: 35px;
    line-height: 35px;
    font-size: 16px;
    font-family: 'Noto Sans';
    color: var(--text-color);
}

.common-select li.active {
    color: var(--bg-selected-text-color);
    background-color: var(--bg-selected);
}

.common-select li.disabled {
    color: var(--bg-color7);
    cursor: default;
}

.common-select li span::selection {
    background: transparent;
}

.hof-table {
    display: none;
}

.hof-table.active {
    display: block;
}

.caption {
    font-size: 18px;
    color: var(--text-color);
    font-family: 'Noto Sans';
}

.table-box {
    margin-top: 30px;
}

.table-box + .table-box {
    margin-top: 50px;
}

.btn-search {
    width: 13px;
    height: 13px;
    margin-left: 20px;
    background: var(--icon-search) no-repeat;
}

.txt-group + .txt-group {
    margin-top: 50px;
}

.mobile-search-area {
    position: relative;
    margin-left: 10px;
    display: none;
}

.btn-mobile-search {
    position: absolute;
    top: 0;
    left: 1px;
    width: 26px;
    height: 26px;
    border-radius: 50%;
    background: var(--icon-search) no-repeat center;
}

.mobile-search-input {
    width: 26px;
    height: 26px;
    border: 1px solid var(--bg-color6);
    border-radius: 24px;
    transition: 0.3s ease-in-out;
    box-sizing: border-box;
    color: var(--text-color);
    font-size: 14px;
    outline: 0;
    background-color: transparent;
}

.mobile-search-area.active .mobile-search-input {
    width: 200px;
    padding-left: 30px;
}

.mobile-search-area.active .btn-mobile-search {
    left: 4px;
}

.txt-group + .txt-group {
    margin-top: 50px;
}
